* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px; /* Establece el tamaño de la fuente a 20 píxeles */
}
.dropdown-menu {
    background-color: rgba(216, 171, 7, 0.5); /* Amarillo translúcido */
  }

  /* Cambiar fondo a gris y texto a color personalizado al hacer hover */
  .dropdown-item:hover {
    background-color: rgba(211, 211, 211, 1); /* Color gris claro al hacer hover */
    color: rgba(5, 2, 33, 0.5); /* Color como el fondo al hacer hover */
  }

  /* Cambiar el color de los enlaces al hacer hover */
  .dropdown-item:hover a {
    color: rgba(216, 171, 7, 0.5); /* Color dorado traslúcido */
  }

.hero {
    background-image: url('../images/Portada.jpg');
    background-size: cover; /* Para que la imagen ocupe toda la pantalla */
    background-position: center; /* Centra la imagen */
    width: 100%;
    height: 100vh; /* Altura completa de la pantalla */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.text-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para que destaque */
    text-align: center;
}

h1 {
    color: #333; /* Color del texto */
    font-size: 2rem;
}
